<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding-horizontal" scrollY="false">
    <ion-img src="/assets/images/logo1.png"></ion-img>
    <ion-button class="ion-padding" shape="round" expand="block" >new user</ion-button>

    <ion-button class="ion-padding"shape="round" expand="block" fill="outline">new user</ion-button>

 <ion-grid>
   <ion-row class="ion-align-items-center">
   
   </ion-row>
 </ion-grid>
 <ion-img src="/assets/images/logo2.png"></ion-img>
    
</ion-content>
